extends layouts/default

block content
  h1.pl__title Colours
  hr.pl__rule
  
  .pl__example
    p.pl__example-title Colours Palette
    .pl__block
      .pl__palette
        .swatch.swatch--primary
          .swatch__colour
          .swatch__title
            strong Primary
            em  #CC4635
          .swatch__copy
            p
              | There is currently no usage notes at the moment.
        
        .swatch.swatch--secondary
          .swatch__colour
          .swatch__title
            strong Secondary
            em  #FFFFFF
          .swatch__copy
            p
              | There is currently no usage notes at the moment.
              
      .pl__palette
        .swatch.swatch--text
          .swatch__colour
          .swatch__title
            strong Charade
            em  #2C2E3E
          .swatch__copy
            p
              | There is currently no usage notes at the moment.
              
        .swatch.swatch--link
          .swatch__colour
          .swatch__title
            strong Matisse
            em  #155B92
          .swatch__copy
            ul
              li There is currently 
              li no usage notes 
              li at the moment.
                    
        .swatch.swatch--bg
          .swatch__colour
          .swatch__title
            strong Givry
            em  #F9DBC4
          .swatch__copy
            p
              | There is currently no usage notes at the moment.
