extends layouts/default

block content
  h1.pl__title Home
  hr.pl__rule
  p.pl__p
    | This pattern library represents a standard set of web components / patterns that has been designed and built through user testing, accessibility testing and meeting the Bristol City Council frontend coding guidelines. It is not exhaustive and should not be viewed as being exhaustive; it's a living, breathing, pull-request loving, store of how we, as an organisation aim to build and craft our web experiences.
  p.pl__p
    | It is released under a MIT license, apart from misuse of the Bristol City Council logo is open and free software. Here is how you can <a href="#">get started</a>. If you find this useful, we'd love to hear about it @<a href="#">BristolCouncil</a>.
  
  p.pl__p
    | You can find examples of our <a href="#">common elements</a> as well as some examples of how our elements are used <a href="#">within pages</a>.
  
  p.pl__p
    | If you find a bug or have an improvement, please do <a href="#">fork this project on github</a>.
  
  p.pl__p
    | Thank you,<br> <strong>Bristol City Council</strong>
