doctype html
html.no-js(lang="en")
  head
    include ../includes/header
  
  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    
    .wr.l-container
      include ../includes/sidebar
        
      main.wr__main.l-main
        a.mobile-menu(href="#header") Menu
        .pl
          block content

    include ../includes/footer
    
    
