meta(charset="utf-8")
meta(name="description", content="")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Mango Pattern Library

link(rel="stylesheet", href="apple-touch-icon.png")
// Place favicon.ico in the root directory

// build:css styles/vendor.css
// bower:css
// endbower
// endbuild

// build:css styles/pattern.css
link(rel="stylesheet", href="styles/pattern.css")
// endbuild

// build:css styles/main.css
link(rel="stylesheet", href="styles/main.css")
// endbuild

// build:js async scripts/vendor/modernizr.js
script(src="/bower_components/modernizr/modernizr.js")
// endbuild
