header.wr__header.l-sidebar
  .wr__logo
    a(href="/")
      img(src="https://cdn0.iconfinder.com/data/icons/fruit-and-vegetable-vol-1-1/48/59-128.png", alt="Logo")
  h1.wr__heading: a(href="/") Home
  
  section
    h2.wr__sub-heading Patterns
    ul.wr__nav
      li: a(href="#") Buttons
      li: a(href="#") Colours
      li: a(href="#") Forms
      li: a(href="#") Headers
      li: a(href="#") Navigation
      li: a(href="#") Panels
      li: a(href="type.html") Type
      li: a(href="#") Validation
    
    h2.wr__sub-heading Examples
    ul.wr__nav
      li: a(href="#") Webpages
      li: a(href="#") Emails
    
    h2.wr__sub-heading Documentation
    ul.wr__nav
      li: a(href="#") Getting started
